@font-face {
    font-family: "AdobeTimes";
    src: url("./TimesNewRomanPSMT.ttf");
}
body{
    margin:15px;
}
textarea.bullets{
    margin: 0px 0px 0px 1px;
    height: 200px;
    width:255mm;
    white-space: pre-line;
    text-indent: 0px;
    overflow: hidden;
    border: none;
    padding-left: 0px;
    resize: none;
    /*word-break: break-all;*/
    text-rendering: geometricPrecision;
}
.border{
    border: solid black 1.1px;
}
.bulletContainer{
    display: inline-block;
    margin:10px 10px 0px 0px;
    vertical-align:top;
}
.bullets{
    font-family: "AdobeTimes";
    font-size: 12pt;
    white-space:pre-wrap;
    display:inline;
    text-rendering: geometricPrecision;
}
input.htCheckboxRendererInput{
    margin: 2px auto!important;
    display:block!important;
}
#thesaurus{
    /*width:auto;
    min-width:500px;*/
    min-height:172px;
    display:block;
    padding: 10px;
    margin:10px 10px 0px 0px;
}
#thesaurus > ul {
    columns:10;
    list-style-type:circle;
    margin: 5px auto;
}

#thesaurus > ul > li {
    margin:auto 5px;
}


#abbrTable{
    margin:10px 10px 0px 0px;
}
#bulletIOWrapper{
    min-height:10px;
    overflow:auto;
    overflow-x: auto;
    width:max-content;
    /*margin-top: 300px;*/
}
.logo{
    color: #6b2706;
}
h1{
    font-family:monospace;
}
h2{
    font-family: monospace;
}

#topStuff{
    /*position: fixed;
    top: 0;
    width: 100%;
    margin-right:10px;*/
    background-color: white;
}

.toolbox{
    display:inline-block;
}

.toolbox button{
    margin:5px;
}

#footer{
    text-align:center;
    font-size:12px;
    color:grey;
}
#footer div{
    display:block
}